{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}ShareVito{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_preload_css %}
  {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen bg-gray-50 font-serif leading-normal tracking-normal">
<header>
  {% block navbar %}
    {% include "includes/navbar.html" %}
  {% endblock navbar %}
</header>
<main class="flex-grow">
  {% block content %}{% endblock %}
</main>
<footer>
  {% block footer %}
    {% include 'includes/footer.html' %}
  {% endblock footer %}
</footer>
<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>
