{% extends "_base.html" %}

{% block title %}
  Регистрация
{% endblock title %}


{% block content %}
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a
        href="{% url 'ads:ads-list' %}"
        class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"
      >
        <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
        ShareVito
      </a>
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl text-center leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white font-bold"
          >
            Регистрация
          </h1>
          <form method="post" action="{% url 'users:register' %}" class="space-y-4 md:space-y-6">
            {% csrf_token %}
            <div>
              {{ form.username }}
              {% for err in form.username.errors %}
                <p class="text-red-600 text-sm mt-1">{{ err }}</p>
              {% endfor %}
            </div>
            <div>
              {{ form.email }}
              {% for err in form.email.errors %}
                <p class="text-red-600 text-sm mt-1">{{ err }}</p>
              {% endfor %}
            </div>
            <div>
              {{ form.phone }}
              {% for err in form.phone.errors %}
                <p class="text-red-600 text-sm mt-1">{{ err }}</p>
              {% endfor %}
            </div>
            <div>
              {{ form.first_name }}
              {% for err in form.first_name.errors %}
                <p class="text-red-600 text-sm mt-1">{{ err }}</p>
              {% endfor %}
            </div>
            <div>
              {{ form.last_name }}
              {% for err in form.last_name.errors %}
                <p class="text-red-600 text-sm mt-1">{{ err }}</p>
              {% endfor %}
            </div>

            <div>
              {{ form.password1 }}
              {% for err in form.password1.errors %}
                <p class="text-red-600 text-sm mt-1">{{ err }}</p>
              {% endfor %}
            </div>

            <div>
              {{ form.password2 }}
              {% for err in form.password2.errors %}
                <p class="text-red-600 text-sm mt-1">{{ err }}</p>
              {% endfor %}
            </div>
            <button
              type="submit"
              class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Создать аккаунт
            </button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Уже есть аккаунт?
              <a href="{% url 'users:login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                Войти
              </a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
