{% extends "_base.html" %}

{% block content %}
  <section class="py-8 bg-white md:py-16 dark:bg-gray-900 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 pb-5">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16 pb-10">
        <div class="shrink-0 max-w-md lg:max-w-lg mx-auto my-0 pb-0">
          <img
            src="{{ ad.image.url }}"
            alt="Product Image"
            class="w-full aspect-[12/11] object-cover rounded-xl shadow-md"
          />
        </div>
        <div class="mt-6 sm:mt-8 lg:mt-0">
          <div class="flex items-center justify-between">
            <h1
              class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
            >
              {{ ad.title }}
            </h1>
          </div>
          <div class="my-3"><a class="hover:underline">{{ ad.user.username }}</a></div>
          <div class="text-sm font-light">{{ ad.created_at|date:"H:i d.m.y" }}</div>
          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <div class="flex items-center gap-2 mt-2 sm:mt-0">
              <span
                class="inline-flex items-center gap-3 font-medium bg-primary-100 text-primary-700 dark:bg-primary-900 dark:text-primary-300 px-3 py-0.5 rounded"
              >
                <a href="{% url 'ads:ads-list' %}?category={{ ad.category.slug }}">
                  {{ ad.category.name }}
                </a>
              </span>
              <span
                class="inline-flex items-center gap-3 font-medium bg-primary-100 text-primary-700 dark:bg-primary-900 dark:text-primary-300 px-2.5 py-0.5 rounded"
              >
                <a href="{% url 'ads:ads-list' %}?condition={{ ad.condition }}">
                  {{ ad.condition_display }}
                </a>
              </span>
            </div>
          </div>

          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <a
              href="#"
              title=""
              class="text-white mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 flex items-center justify-center"
              role="button"
            >
              <svg
                class="w-5 h-5 -ms-2 me-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                ></path>
              </svg>
              Обменять
            </a>
          </div>

          <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800"/>

          <p class="mb-6 text-gray-500 dark:text-gray-400">
            {{ ad.description }}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
