{% extends "_base.html" %}
{% load static tailwind_tags %}

{% block title %}Категории{% endblock title %}

{% block content %}
  <section class="bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <div class="mb-4 flex items-center justify-between gap-4 md:mb-8">
        <h2 class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">
          Категории
        </h2>
      </div>
      <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-10 lg:grid-cols-4">
        {% for category in categories %}
          <a
            href="{% url 'ads:ads-list' %}?category={{ category.slug }}"
            class="flex items-center justify-center rounded-lg border border-gray-200 bg-white
                 px-4 py-6 hover:scale-105 rounded-xl transition-transform duration-100 "
          >
          <span class="text-sm font-medium text-gray-900 dark:text-white font-semibold text-center">
            {{ category.name }}
          </span>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
